#header {
    display: inline-block;
}

#header img {
    margin-top: 2em;
    margin-left: 2em;
    width: 16em;
    height: 10em;
}
.content{
    width: 100%;
}

.item{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    width:33%;
    min-height:45em;
    float:left;

}
.item_img img{

    margin-top: 3em;
    margin-left: 3.5em;
    width: 25em;
    height: 35em;

}
.item_name{
    display: inline-block;
    margin-left: 4em;
    font-weight: bold;
    color: black;
}

.item_price{
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    float:right;
    color: black;
}

.item_price_d{
    display: inline-block;
    margin-right: 1.5em;
    font-size: 0.7em;
    font-weight: bold;
    text-decoration:line-through;
    float:right;
    color: black;
}

.item_disc{
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    color: red;
    margin-left: 1em;
    float:right;
}

.item_disc_tag{
    font-size: 1.4em;
    font-weight: bold;
    color: red;
    margin-left:5em;
}

ol#lista_filtrado{
    margin-top: 5em;
    margin-left: 5em;
    float: right;
    display:inline-block;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    }
    ol#lista_filtrado li{
        display: inline;
        margin-right: 7em;
    }
